.intro{
    display:grid;
    text-align: center;
}
.maincontainer{
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}
.toolsbar{
    background-color: brown;
    width: 300px;
    height: auto;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    
}
.game{
    background-color: rgb(149, 165, 42);
    width: 1000px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.bmo{
    width: 800px;
    background-color: blue;

}
.screen{
    width: 400px;
    background-color: bisque;
}
